<a href="https://colab.research.google.com/github/TanyaKumari0204/Sabudh-Internship/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup=(45,5,"Python",True)
print(tup)

(45, 5, 'Pyhton', True)

In [ ]:
tup_of_num=(1,2,3,4,5)
print(tup_of_num[4])

5

In [ ]:
tups=(1,2,34)
new=tups+(4,)
print(new)

(1, 2, 34, 4)

In [ ]:
tupp=(1,2,3,4,5,6)
element=tupp[-4]
print(element)

3

In [ ]:
tuppe=(("One","1"),("Two","2"),("Three","3"))
convert=dict(tuppe)
print(convert)

{'One': '1', 'Two': '2', 'Three': '3'}

In [ ]:
tup=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
update=[(a, b, 100) for (a, b, c) in tup]
print(update)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]